.headline {
    color: rgb(147, 161, 161);
}

.byline {
    font-size: 0.8em;
    letter-spacing: 2px;
}

.reveal blockquote {
    width: 100%;
    font-size: 0.55em;
    letter-spacing: 1px;
    border-radius: 3px;
}

.reveal ul li {
    margin-left: 0;
    padding-right: 0;
    font-size: 0.6em;
    padding-bottom: 0.1em;
}

.reveal section img {
    border: none;
    box-shadow: none;
    background: none;
}

#gp-logo {
    width: 15%;
    height: auto;
    background-color: rgba(white, white, white, 0.8);
}

#gp-logo img {
    width: 100%;
    height: 100%;
    max-height: none;
    max-width: none;
}